.status-table .ant-table-cell {
    padding: 0 0 0 10 !important;
    width: 100px;
    background-color: #292828;
    color: white;
  }
  
  .status-table .color-cell {
    height: 50px;
    overflow: hidden;
  }

  .status-table .ant-table-thead > tr > th {
    height: 60px; /* Adjust the height as needed */
    text-align: center;
    padding-left: 5px;

}

.status-table .ant-table-thead .ant-table-cell {
    font-size: 18px; /* Set the desired font size */
    background-color:rgb(48, 46, 54);
    color: white;
  }