/* tvcss.css */

/* Style for both "next" and "prev" arrows */
.arrow {
    top: 35px; /* Adjust the top position as needed */
    font-size: 24px;
    color: red;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    z-index: 1; /* Ensure the arrows are on top */
  }
  
  /* Style for the "next" arrow */
  .next-arrow {
    right: 20px; /* Adjust the right position as needed */
  }
  
  /* Style for the "prev" arrow */
  .prev-arrow {
    left: 20px; /* Adjust the left position as needed */
  }

.custom-dots li {
  margin: 0 4px; /* Adjust the margin as needed */
  display: inline-block;
  width: 10px; /* Adjust the width as needed */
  height: 10px; /* Adjust the height as needed */
  border-radius: 50%;
  background-color: #bbb; /* Adjust the background color as needed */
  cursor: pointer;
}

.custom-dots li.slick-active {
  background-color: #fff; /* Adjust the active background color as needed */
}