/* styles.css */
.custom-table {
    font-size: 5px; /* Set the desired font size */
  }

.report-table {
    font-size: 5px; /* Set the desired font size */

}

  /* styles.css */
.custom-table .ant-table-cell {
    font-size: 12px; /* Set the desired font size */

  }

.report-table .ant-table-cell{
    font-size: 12px; /* Set the desired font size */
    background-color:#6f6f70;
    color: white;
  }

  .report-table .ant-table-thead .ant-table-cell {
    font-size: 12px; /* Set the desired font size */
    background-color:rgb(28, 29, 44), 99, 109);
    color: white;
  }
